.flickity-button 
  background: transparent

  &:hover
    background: transparent

  .flickity-button-icon
    transition: transform 150ms ease-in-out

    &:hover
      transform: scale(1.2)
    

.flickity-page-dots
  .dot 
    height: 10px
    width: 10px

    opacity: 1

    border-radius: 0

    background: transparent
    border: 2px solid black

    transition: transform 150ms ease-in-out

    &:hover
      transform: scale(1.2)

  .is-selected
    background: black
