@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Mono:500|Work+Sans:700&display=swap');

*
    user-select: none
    overflow: hidden

#back
    position: absolute

    width: 120%
    height: 120%

    top: 0
    left: 0

    z-index: -1

    filter: blur(50px)

#info
    display: flex
    flex-direction: column

    position: fixed
    width: 75%
    height: 75%
    top: 10%;
    left: 15%

    background: white
    color: black

    --shadow-offset: 30

#title
    margin: 8px
    font-size: 32px
    font-family: 'Roboto Mono', sans-serif

#description
    display: inline

    margin-left: 32px
    padding-left: 8px

    font-size: 24px
    font-family: 'Inconsolata', sans-serif

#bottom
    display: flex
    flex-direction: row

#links
    display: flex

    margin: 8px
    padding: 4px

#other
    display: flex

    margin: 8px
    margin-left: auto
    padding: 4px

.button
    width: 40px
    height: 40px

    margin: 8px

    color: black
    cursor: pointer

    transition: transform 150ms ease-in-out

    --shadow-offset: 8

    &:hover
        transform: scale(1.2)

.carousel
    height: 60%

    margin-top: 32px
    margin-bottom: 32px

    --shadow-offset: 12

.carousel-cell
    display: grid
    grid-template-rows: max-content auto
    grid-template-columns: auto max-content

    width: 60%
    height: 90%

    padding: 8px
    margin-right: 10px

    border: solid

    counter-increment: carousel-cell

    .title
        grid-column: 1
        grid-row: 1

        font-size: 18px
        font-family: 'Roboto Mono', sans-serif

    .description
        grid-column: 1 / 2
        grid-row: 2

        font-family: 'Inconsolata', sans-serif

    .link
        grid-column: 2
        grid-row: 1

.filter
    display: flex
    flex-direction: row

    width: 90%
    height: 100px

    margin: 10px

    background: white
    color: black

    --shadow-offset: 20

.grid-item
    float: left

    width: 200px
    height: 200px

    margin: 5px
    padding: 5px

    border: solid

    transition: transform 150ms ease-in-out

    &:hover
        transform: scale(1.02)

