@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Mono:500|Work+Sans:300&display=swap')

*
    user-select: none

body
  overflow: hidden

::-webkit-scrollbar
  width: 10px

::-webkit-scrollbar-track
  background: #f1f1f1

::-webkit-scrollbar-thumb
  background: #888

::-webkit-scrollbar-thumb:hover
  background: #555

#back
    position: absolute

    width: 120%
    height: 120%

    top: 0
    left: 0

    z-index: -1

    filter: blur(50px)

#bottom
    display: flex
    flex-direction: row

#links
    display: flex

    margin: 8px
    padding: 4px

#other
    display: flex

    margin: 8px
    margin-left: auto
    padding: 4px

.button
    width: 40px
    height: 40px

    margin: 8px

    color: black
    cursor: pointer

    transition: transform 150ms ease-in-out

    --shadow-offset: 8

    &:hover
        transform: scale(1.2)

#text-404
  position: fixed

  top: 260px
  left: 220px

  color: white

  text-transform: uppercase
  -webkit-text-stroke: 4px black

  font-size: 72px
  font-family: Impact, fantasy

#img-404
  position: fixed

  top: 135px
  left: 170px

  &::before
    content: url("../../res/cringe/8597142342f932352cbb4c6a01423c66.jpg")

.centre
  position: fixed

  width: 75%
  height: 75%

  top: 10%
  left: 15%
