#info
    display: flex
    flex-direction: column

    position: fixed
    width: 75%
    height: 75%
    top: 10%
    left: 15%

    background: white
    color: black

    --shadow-offset: 30

    #title
        margin: 8px
        font-size: 32px
        font-family: 'Roboto Mono', sans-serif

    #description
        display: inline

        margin-left: 32px
        padding-left: 8px

        font-size: 24px
        font-family: 'Inconsolata', sans-serif
