include button

mixin repo(name="", desc="")
    div.carousel-cell.noshadow
        div.title= name
        div.description= desc

        +button("github", `github.com/deflatedpickle/${name}`)(class="link")
