doctype html

html
    head
        title="all my links"
        meta(charset="UTF-8")

        script(
        async data-href="https://github.com/DeflatedPickle/abbie.pet"
        data-label="Pet me"
        data-target="_blank"
        src="https://unpkg.com/github-corners@latest/dist/embed.min.js"
        )

    body
        include mixin/bigbutton
        include mixin/repo

        div#back.parallax

        div#aml-info.shadow
            div#me
            div#title abbie's links
            div#typed
                div#description
            
            div#text hello! im abbie uwu i write code for fun! <br> feel free to checkout some of the things ive made below :D
            
            div#aml-links
              div.line code
              div#code.section.noshadow
                +bigbutton("github-colour", "abbieisagit.cyou")
                +bigbutton("gitlab-colour", "gitlab.com/DeflatedPickle")
                                  
              div.line minecraft mods
              div#mc-mods.section.noshadow
                +bigbutton("curseforge", "curseforge.com/members/deflatedpickle/projects")
                +bigbutton("modrinth-colour", "modrinth.com/user/xgtIFLbS")
                
              div.line art
              div#art.section.noshadow
                +bigbutton("deviantart-colour", "deviantart.com/deflatedpickle")
                +bigbutton("sketchfab-colour", "sketchfab.com/deflatedpickle")
                +bigbutton("artstation-colour", "artstation.com/deflatedpickle")
                
              div.line music
              div#music.section.noshadow
                +bigbutton("soundcloud-colour", "soundcloud.com/deflatedpickle")
                
              div.line funding
              div#funding.section.noshadow
                +bigbutton("patreon-colour", "patreon.com/DeflatedPickle")
                +bigbutton("kofi-colour", "ko-fi.com/deflatedpickle")
              
              div.line social
              div#social.section.noshadow
                +bigbutton("youtube-colour", "youtube.com/channel/UC2h_BordXu568_EnPn-lh9g")
                +bigbutton("twitter-colour", "abbieisatwit.cyou")
                +bigbutton("instagram-colour", "instagram.com/applecrumbledoor/")
                +bigbutton("reddit-colour", "reddit.com/user/applecrumbledoor")
