doctype html

html
    head
        title="abbie.pet"
        meta(charset="UTF-8")

        script(
        async data-href="https://github.com/DeflatedPickle/abbie.pet"
        data-label="Pet me"
        data-target="_blank"
        src="https://unpkg.com/github-corners@latest/dist/embed.min.js"
        )

    body
        include mixin/button
        include mixin/repo

        div#back.parallax

        div#info.centre.shadow
            div#title abbie.pet
            div#typed
                div#description

            div.carousel
                +repo("rawky", "a pixel art editor")
                +repo("haruhi", "a plugin framework for swing")
                +repo("tosuto", "a toast library for swing")

            div#bottom
                div#links.noshadow
                    +button("github", "abbieisagit.cyou")
                    +button("twitter", "abbieisatwit.cyou")
                    +button("discord", "discord.gg/fwpbFprZec")

                div#other.noshadow
                    +button("curseforge", "curseforge.com/members/deflatedpickle/projects")
                    +button("modrinth", "modrinth.com/user/xgtIFLbS")
