doctype html

html
    head
        title="abbie.pet"
        meta(charset="UTF-8")

        script(
        async data-href="https://github.com/DeflatedPickle/abbie.pet"
        data-label="Pet me"
        data-target="_blank"
        src="https://unpkg.com/github-corners@latest/dist/embed.min.js"
        )

    body
        include button

        div#back

        div#info.shadow
            div#title abbie.pet
            div#description

            div#bottom
                div#links
                    +button("github", "abbieisagit.cyou")
                    +button("twitter", "abbieisatwit.cyou")
                    +button("discord", "discord.gg/fwpbFprZec")
                    +button("instagram", "instagram.com/applecrumbledoor/")
                    +button("reddit", "reddit.com/user/applecrumbledoor")
                    +button("youtube", "youtube.com/channel/UC2h_BordXu568_EnPn-lh9g")
