doctype html

html
    head
        title="abbie's portfolio"
        meta(charset="UTF-8")

        script(
        async data-href="https://github.com/DeflatedPickle/abbie.pet"
        data-label="Pet me"
        data-target="_blank"
        src="https://unpkg.com/github-corners@latest/dist/embed.min.js"
        )

    body
        include mixin/button
        include mixin/project

        div#back.parallax

        div.filter.shadow
            +button("asterisk", "", "icon")(data-filter="*")
            +button("gamepad", "", "icon")(data-filter=".game")

        div.grid.shadow
            +project("r").game
            +project("g")
            +project("b")